<div class="push4slideMenu pageMinHeight" id="scrollToTop">
    <div class="container-fluid pushFixedHeaderFooter">
      <div class="headerPush"></div>
      <!-- Session timeout handling component -->
      <app-sessiontimeout> </app-sessiontimeout>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="borderBox box-mt">
                <h4 class="borderBoxHeading">
                  <div>Change Password</div>
                </h4>
                <div class="row box-mt">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <div>
                        <div class="pullSide">
                            <div class="topGrid gridSkin">
                              <div class="row box-mt left-border">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                  <i class="fa fa-lock lock-style"></i>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                                  <label>Please update your password here.</label>
                                  <ol class="pl-list">
                                    <li>Type in your old password.</li>
                                    <li>Type your new password.</li>
                                    <li>Choose a strong password with alphanumeric characters and special characters.</li>
                                  </ol>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                      <div class="pullSide">
                          <div class="row" *ngIf="passwordObj.isFilled || passwordObj.isExist || passwordObj.isMatched">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <span class="font mandatory" *ngIf="!passwordObj.isFilled">*Please fill all mandatory fields.</span>
                                <span class="font mandatory" *ngIf="passwordObj.isExist">* Please enter a new password other than your existing password.</span>
                                <span class="font mandatory" *ngIf="passwordObj.isFilled && !passwordObj.isMatched">*Password Mismatch!</span>
                              </div>
                          </div>
                          <div class="topGrid gridSkin">
                            <div class="row box-mt">
                              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                  <label class="fw-700"><span class="mandatory">*</span>Current Password:</label>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                                <input type="password" class="committeeBox" [ngClass]="passwordObj.isInvalid ?'lineItem-mandatory':''"
                                  [(ngModel)]="passwordObj.current" (ngModelChange)="passwordObj.isInvalid=false"/>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                      <label class="fw-700"><span class="mandatory">*</span>New Password:</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                                  <input type="password" class="committeeBox" [(ngModel)]="passwordObj.new" (ngModelChange)="passwordObj.isExist=false;passwordObj.confirm=null"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                  <label class="fw-700"><span class="mandatory">*</span>Confirm Password: </label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                                  <input type="password" class="committeeBox" [ngClass]="!passwordObj.isMatched ? 'lineItem-mandatory' : ''"
                                      [(ngModel)]="passwordObj.confirm" (ngModelChange)="passwordObj.isMatched=true"/>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="text-right pr-60 box-mt">
                  <button type="button" class="btnSkin btn-secondary" title="Clear all fields" (click)="clear()">Clear</button>
                  <button type="button" class="btnSkin btnSkinPrimary" title="Update Password" (click)="changePassword()">Update Password</button>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
<button id="changePasswordWarning" [hidden]="true" data-toggle="modal" data-target="#changePassword">modal</button>
<!-- RESULT MODAL -->
<div class="modal fade show mySkinDialog" tabindex="-1" id="changePassword" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Update Password</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{passwordObj.message}}</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btnSkin btnSkinPrimary"  data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


