<div class="borderBox">
  <h4 class="borderBoxHeading">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">Proposal Details</div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 text-right colorBlack">
        <span style="margin-right: 10px"><label style="margin-right: 10px">Created By: </label>{{result?.proposal?.createUser}}</span>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 text-right colorBlack">
        <span style="margin-right: 10px"><label style="margin-right: 10px">Last Updated By: </label><span *ngIf="result?.proposal?.proposalId != null">{{result?.proposal?.updateUser}}
            on {{result?.proposal?.updateTimeStamp | date: 'MM/dd/yyyy'}}</span></span>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 colorBlack">
        <span><label style="margin-right: 10px">Status: </label>{{result?.proposal?.proposalStatus?.description}}</span>
      </div>
    </div>
  </h4>
  <div class="pullSide">
    <div class="topGrid gridSkin">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-6">
          <label><span class="mandatory">*</span>Title:</label><br>
          <input type="text" placeholder="" class="committeeBox dateBox" [(ngModel)]="result.proposal.title"/>
        </div>
      </div>
    </div>
  </div>
</div>
