<!--Adds area of research-->
<div class="borderBox col-12 border-index">
  <h4 class="borderBoxHeading">Area of Research</h4>
  <button id="area-of-research-expnd-btn" class="addBtn font hoverColor" (click)="showOrHideDataFlagsObj.isAreaOfResearchWidgetOpen = !showOrHideDataFlagsObj.isAreaOfResearchWidgetOpen"
    *ngIf="(result?.proposal?.proposalResearchAreas?.length > 0)">
    <i [ngClass]="showOrHideDataFlagsObj.isAreaOfResearchWidgetOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'"
      class="fa-large"></i>
  </button>
  <table class="table tableSkin grid2">
    <tr id="area-of-research-add-row" *ngIf="showOrHideDataFlagsObj.isAreaOfResearchWidgetOpen">
      <td class="text-right"><label>Type:</label></td>
      <td style="width: 15%"> <select class="committeeBox" id="area-of-research-type" [(ngModel)]="proposalDataBindObj.selectedResearchType"
          (change)="researchTypeChange($event.target.value)">
          <option *ngFor="let type of result?.proposalResearchTypes" (value)="type">{{type.description}}</option>
        </select>
      </td>
      <td class="text-right"><label>{{proposalDataBindObj.selectedAreaType}}:</label></td>
      <td>
        <div>
          <div class="searchBox memberSearchBox">
            <input type="text" id="area-of-research" [placeholder]="(proposalDataBindObj.selectedResearchType== 'Area of Research')?'Search here for Area of Research':'Search here for Area of Excellence'"
              [(ngModel)]="selectedAreaOfResearch" (blur)="isSearchResearchTypeActive = false" (focus)="isSearchResearchTypeActive = true"
              class="member_search" (ngModelChange)="researchAreaTypeChange(proposalDataBindObj.selectedResearchType)" />
            <a href="#" class="searchButton" (click)="clearResearchTypeSearchBox($event)"><i [ngClass]="researchAreaTypeIconClass"></i></a>
            <div class="sb-seachresults" *ngIf="isSearchResearchTypeActive && proposalDataBindObj.selectedResearchType == 'Area of Excellence'">
              <ul class="sb-results-dropdown-menu text-left">
                <li *ngFor="let result of result.proposalExcellenceAreas " (mousedown)="researchTypeSelectedFunction(result)"><span
                    [innerHTML]="result.description"></span></li>
              </ul>
            </div>
            <div class="sb-seachresults" *ngIf="isSearchResearchTypeActive && proposalDataBindObj.selectedResearchType == 'Area of Research'">
              <ul class="sb-results-dropdown-menu text-left">
                <li *ngFor="let result of result.researchAreas " (mousedown)="researchTypeSelectedFunction(result)"><span
                    [innerHTML]="result.description"></span></li>
              </ul>
            </div>
          </div>
        </div>
      </td>
      <td class="text-right">
        <button class="btnSkin btnSkinPrimary" (click)="addAreaOfResearch()">Add</button>
      </td>
    </tr>
    <tr *ngIf="warningMsgObj.areaOfResearchWarningMsg != null">
      <td colspan="12"><span class="mandatory">{{warningMsgObj.areaOfResearchWarningMsg}}</span></td>
  
    </tr>
    <tbody *ngIf="result?.proposal?.proposalResearchAreas?.length > 0 && showOrHideDataFlagsObj.isAreaOfResearchWidgetOpen">
      <tr>
        <th width="10%">Sl No.</th>
        <th width="10%">Code</th>
        <th>Type</th>
        <th colspan="2">Research Area</th>
        <th title="">Action</th>
      </tr>
      <tr *ngFor="let researchArea of result?.proposal?.proposalResearchAreas; let i = index">
        <td>{{i+1}}</td>
        <td width="10%" *ngIf="researchArea.excellenceAreaCode? researchArea.excellenceAreaCode: researchArea.researchAreaCode;let areaCode; ">{{areaCode}}</td>
        <td>{{researchArea.proposalResearchType.description}}</td>
        <td colspan="2" *ngIf="researchArea.proposalExcellenceArea? researchArea.proposalExcellenceArea.description: researchArea.researchArea.description;let description; ">{{description}}</td>
        <td>
          <ul class="actionButtonGroup">
            <li><a href="#" id="area-of-research-delete-btn" data-toggle="modal" data-target="#deleteResearchArea"
                (click)="temprySaveAreaOfResearch($event,researchArea,i)"><i class="fa fa-trash-o" aria-hidden="true"
                  title="Click here to delete this Research Area"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><label>Description:</label></td>
        <td colspan="8">
          <textarea id="area-of-research-desc" name="description" [(ngModel)]="result.proposal.researchDescription"
            class="forTextAreaEntry scheduleBoxes" placeholder=""></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- DELETE RESEARCH AREA WARNING MODAL -->
<div class="modal fade mySkinDialog" *ngIf="isShowDeleteResearchArea" tabindex="-1" id="deleteResearchArea" tabindex="-1"
  role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>

        <button type="button" id="area-of-research-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="area-of-research-close-btn" class="btnSkin btn-secondary" data-dismiss="modal"
          data-toggle="modal" (click)="isShowDeleteResearchArea = false">No</button>
        <button type="button" id="area-of-research-delete" class="btnSkin btnSkinPrimary" (click)="deleteAreaOfResearch()"
          data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>