<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
    <div class="headerPush"></div>
    <section class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="fixed-proposalHeader"><br>
          <div class="row">
            <div class="col-9 text-left"><span *ngIf="result?.proposal?.proposalId" class="topHeading overflow">#{{result?.proposal?.proposalId}}: {{result?.proposal?.title}}</span></div>
            <div class="col-1 text-right"><span *ngIf="result?.proposal?.ipNumber" class="topHeading pt-2">IP&nbsp;#{{result?.proposal?.ipNumber}}</span></div>
            <div class="col-2"><button class="btnSkin btnSkinPrimary" title="Back to Proposal List" data-target="#confirmGoBack" data-toggle="modal" (click)="openGoBackModal();">Back to Proposal List</button></div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <ul class="tabs">
                  <li role="presentation" [ngClass]="{'active': showOrHideDataFlagsObj.currentTab == 'PROPOSAL_HOME'}">
                    <a title="View Proposal" (click)="showTab('PROPOSAL_HOME')"> Proposal </a>
                  </li>
                  <li role="presentation" [ngClass]="{'active': showOrHideDataFlagsObj.currentTab == 'BUDGET'}">
                    <a title="View Detailed Budget" data-toggle="modal" data-target="#warning-modal" (click)="showTab('BUDGET')"> Budget</a>
                  </li>
                  <li role="presentation" [ngClass]="{'active': showOrHideDataFlagsObj.currentTab == 'QUESTIONNAIRE'}">
                    <a title="View Questionnaire" data-toggle="modal" data-target="#warning-modal" (click)="showTab('QUESTIONNAIRE')"> Questionnaire</a>
                  </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
              <div id="toast-success-proposal">{{toast_message}}</div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 btn-margin">
              <div class="text-right">
                <button type="button" id="prop-save-btn" class="btnSkin btnPublish" *ngIf="result?.proposal?.statusCode!= 11" (click)="saveProposal('fullSave')" data-toggle="modal" data-target="#warning-modal">Save</button>
                <button type="button" class="btnSkin btnSkinPrimary" data-toggle="modal" data-target="#warning-modal" *ngIf="(showOrHideDataFlagsObj.mode == 'edit') && result?.proposal?.proposalId" (click)="checkSubmitProposalValidation()">Submit</button>
                <button type="button" class="btnSkin btn-secondary" data-toggle="modal" data-target="#approveDisapproveModal"
                  *ngIf="( showOrHideDataFlagsObj.mode =='view' && (result?.isApprover === true && result?.isApproved == false) ) || (showOrHideDataFlagsObj.mode =='view' && superUser == 'true' && result?.proposal?.statusCode !== 11 ) "
                  (click)="isAttachmentIncomplete = false; disapproveProposal()">Disapprove</button>
                <button type="button" class="btnSkin btnPublish" data-toggle="modal" data-target="#approveDisapproveModal"
                  *ngIf="( showOrHideDataFlagsObj.mode =='view' && (result?.isApprover === true && result?.isApproved == false) ) ||  (showOrHideDataFlagsObj.mode =='view' && superUser == 'true' && result?.proposal?.statusCode !== 11 ) "
                  (click)="approveProposal()">Approve</button>

                <button class="btnSkin btnSkinPrimary dropdown-toggle" (click)="isShowMoreOptions = !isShowMoreOptions">More Actions</button>
                <ul class="more-options-box" *ngIf="isShowMoreOptions">
                  <li>
                    <p><a class="dropdown-item" href="" *ngIf="result?.proposal?.proposalStatus?.statusCode == 2 || result?.proposal?.proposalStatus?.statusCode == 11" (click)="isShowMoreOptions = !isShowMoreOptions">Route Log</a></p>
                    <p><a class="dropdown-item" href="" *ngIf="result?.proposal?.proposalId && result.proposal?.statusCode !== 11" (click)="getPreReview();isShowMoreOptions = !isShowMoreOptions" data-toggle="modal" data-target="#preReviewModal">Pre-review</a></p>
                    <p><a class="dropdown-item" href="" (click)="isShowMoreOptions = !isShowMoreOptions;updatePreReviewAttachmentSelectbox();" data-target="#completePreReviewModal" data-toggle="modal" *ngIf="result.proposal?.isPreReviewer == true">Complete Pre-review</a></p>
                    <p><a class="dropdown-item" href="" (click)="copyProposal($event);isShowMoreOptions = !isShowMoreOptions" *ngIf="result?.proposal?.proposalId">Copy Proposal</a></p>
                    <p><a class="dropdown-item" href="" *ngIf="result?.proposal?.proposalId" (click)="printProposal($event);isShowMoreOptions = !isShowMoreOptions">Print Proposal</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <app-proposal-home *ngIf="showOrHideDataFlagsObj.currentTab == 'PROPOSAL_HOME'" [result]="result" [showOrHideDataFlagsObj]="showOrHideDataFlagsObj" [warningMsgObj]="warningMsgObj" [proposalDataBindObj]="proposalDataBindObj" [mandatoryObj]="mandatoryObj"></app-proposal-home>
        <app-proposal-budget *ngIf="showOrHideDataFlagsObj.currentTab == 'BUDGET'" [result]="result" [showOrHideDataFlagsObj]="showOrHideDataFlagsObj"></app-proposal-budget>
        <app-questionnaire *ngIf="showOrHideDataFlagsObj.currentTab == 'QUESTIONNAIRE'" [result]="result" [showOrHideDataFlagsObj]="showOrHideDataFlagsObj"></app-questionnaire>
      </div>
    </section>
    <div class="footerPush"></div>
	</div>
</div>
<button id="openSucessModal" [hidden]="true" data-toggle="modal" data-target="#successModal">modal</button>
<!-- Modal Section -->
<!-- Warning modals-->
<div class="modal fade mySkinDialog" *ngIf="showOrHideDataFlagsObj.isShowSaveWarningModal || showOrHideDataFlagsObj.isShowSubmitWarningModal" tabindex="-1" id="warning-modal"
tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="deleteModalTitle"
aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" *ngIf="showOrHideDataFlagsObj.isShowSaveWarningModal">Warning</h5>
       <h5 class="modal-title" *ngIf="showOrHideDataFlagsObj.isShowSubmitWarningModal">Submit Proposal</h5>
       <button type="button" class="close" data-dismiss="modal"
           aria-label="Close" (click)="closeWarningModal()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body" *ngIf="showOrHideDataFlagsObj.isShowSaveWarningModal">
       <p>Error in saving proposal, please review whether all mandatory fields are filled properly.</p>
     </div>
     <div class="modal-body" *ngIf="showOrHideDataFlagsObj.isShowSubmitWarningModal">
        <p *ngIf="warningMsgObj.submitWarningMsg != null">{{warningMsgObj.submitWarningMsg}}</p>
        <p *ngIf="warningMsgObj.submitConfirmation != null">{{warningMsgObj.submitConfirmation}}</p>
      </div>
     <div class="modal-footer">
       <button type="button" *ngIf="showOrHideDataFlagsObj.isShowSaveWarningModal" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="closeWarningModal()">Close</button>
       <button type="button" *ngIf="showOrHideDataFlagsObj.isShowSubmitWarningModal && warningMsgObj.submitWarningMsg != null" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="closeWarningModal()">Ok</button>
       <button type="button" *ngIf="showOrHideDataFlagsObj.isShowSubmitWarningModal && warningMsgObj.submitConfirmation != null" class="btnSkin btn-secondary" data-dismiss="modal" (click)="closeWarningModal()">No</button>
       <button type="button" *ngIf="showOrHideDataFlagsObj.isShowSubmitWarningModal && warningMsgObj.submitConfirmation != null" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="submitProposal();closeWarningModal()">Yes</button>
     </div>
   </div>
 </div>
</div>
<!-- Success modals -->
<div class="modal fade mySkinDialog" tabindex="-1" id="successModal"
tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="deleteModalTitle"
aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" *ngIf="showOrHideDataFlagsObj.isShowSaveSuccessModal">Success</h5>
       <h5 class="modal-title" *ngIf="showOrHideDataFlagsObj.isShowSubmitSuccessModal">Submit Proposal</h5>
       <button type="button" class="close" data-dismiss="modal" (click)="closeWarningModal()" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <p *ngIf="showOrHideDataFlagsObj.isShowSaveSuccessModal">Proposal has been saved successfully</p>
       <p *ngIf="showOrHideDataFlagsObj.isShowSubmitSuccessModal">Proposal has been submitted successfully</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="closeWarningModal()">OK</button>
     </div>
   </div>
 </div>
</div>
<!--Pre-review Modal-->
<div class="modal fade mySkinDialog" id="preReviewModal" data-backdrop="static" data-keyboard="false"
tabindex="-1" role="dialog" aria-labelledby="skippedSchedulesTitle" aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="show-assign-reviewer-btn">Assign to Reviewer</h5>
       <button type="button" class="close" (click)="closePreReviewModal()" data-dismiss="modal">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="pullSide">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
           <div class="row">
             <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
               <label>Proposal #</label> <span>{{result?.proposal?.proposalId}}</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
               <label>Status</label> <span>{{result?.proposal?.proposalStatus?.description}}</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
               <label>PI</label> <span>{{result?.proposal?.principalInvestigator}}</span>
             </div>
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
               <label>Lead Unit</label> <span>{{result?.proposal?.homeUnitName}}</span>
             </div>
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <label>Title</label> <span>{{result?.proposal?.title}}</span>
             </div>
           </div>
         </div>
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="add-review">
           <div class="row">
             <button title="Request New Review" class="addBtn font attachBtn"
             style="top:0; right:44px" (click)="showRequestNewReview()">
               <i [ngClass]="isRequestNewReviewerOpen?'fa fa-minus':'fa fa-plus'"></i>&nbsp;<span>Request New Review</span>
             </button>
           </div>
         </div>
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <div class="gridSkin" *ngIf="isShowPreReviewModalOptions">
             <div class="row">
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                 <label><span class="mandatory">*</span>Review Type:</label>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                 <select class="committeeBox"
                 [(ngModel)]="addPreReviewerObj.preReviewType">
                   <option [value]=null>--Select--</option>
                   <option *ngFor="let reviewType of result.preReviewTypes" [ngValue]="reviewType">{{reviewType?.description}}</option>
                 </select>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                 <label><span class="mandatory">*</span>Reviewer:</label>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 searchBox memberSearchBox pt-1">
                 <app-elastic [options]="elasticSearchOptions" [clearField]="clearField" [placeHolder]="'Search an employee'" (selectedResult)="selected($event)"></app-elastic>
               </div>
             </div>
             <div class="row">
               <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12"><label><span class="mandatory">*</span>Comments:</label>
               </div>
               <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
                 <textarea class="forTextAreaEntry scheduleBoxes dateBox" [(ngModel)]="addPreReviewerObj.requestorComment"></textarea>
               </div>
             </div>
             <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isShowPreReviewModalOptions">
                 <span class="mandatory" *ngIf="!isReviewMandatoryFilled">* Please fill all the mandatory fields.</span>
                 <span class="mandatory" *ngIf="isPreReviewExist">* Please choose another reviewer since the specified reviewer has another review in progress. </span>
                 <div class="rate-float pre-review-button">
                   <button type="button" class="btnSkin btnSkinPrimary" (click)="addPreReviewer()">Add </button>
                 </div>
               </div>
             </div>
           </div>
           <div class="pullside" *ngIf="result?.proposal?.proposalPreReviews?.length >0" [ngClass]="isShowPreReviewModalOptions?'height-scroll-sm':'height-scroll-lg'">
             <div class="row" style="margin-right:0px" *ngFor="let reviewers of result?.proposal?.proposalPreReviews; let reviewIndex = index">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 <div class="borderBox" [ngClass]="isReviewTypeOpen[reviewIndex]?'':'pb-0'">
                   <div class="borderBoxHeading colorBlack" [ngClass]="isReviewTypeOpen[reviewIndex]?'':'mb-0'">
                     <div class="row reviewbox-headerdata">
                       <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                         <label>{{reviewers?.reviewerFullName}}({{reviewers?.preReviewType?.description}})</label>
                       </div>
                       <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 colorBlack">
                         <label style="margin-right: 10px">Status: </label>{{reviewers?.preReviewStatus?.description}}
                       </div>
                       <button id="budgetExpndBtn" class="addBtn font hoverColor" (click)="isReviewTypeOpen[reviewIndex] = !isReviewTypeOpen[reviewIndex]">
                         <i class="fa-large" [ngClass]="isReviewTypeOpen[reviewIndex]?'fa fa-angle-double-up':'fa fa-angle-double-down'"></i>
                       </button>
                     </div>
                   </div>
                   <div class="pullSide" *ngIf="isReviewTypeOpen[reviewIndex]">
                     <div class="topGrid gridSkin block-display-span">
                       <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                           <label>Request Date</label>
                           <span>{{reviewers?.requestDate | date:'MM/dd/yyyy'}}</span>
                         </div>
                         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                           <label>Completion Date</label>
                           <span>{{reviewers?.completionDate | date:'MM/dd/yyyy'}}</span>
                         </div>
                       </div>
                       <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                           <label>Requester Comments</label>
                           <span title="{{(reviewers?.requestorComment?.length>120)?(reviewers?.requestorComment):''}}">
                               {{(reviewers?.requestorComment?.length
                                 > 120)?(reviewers?.requestorComment |
                                 slice:0:120)+'...':(reviewers?.requestorComment)}}</span>
                         </div>
                       </div>
                       <div class="row" *ngIf="reviewers?.proposalPreReviewComments.length>0">
                         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                           <label>Reviewer Comments</label>
                         </div>
                         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                           <label>Attachments</label>
                         </div>
                         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                           <label>Action</label>
                         </div>
                       </div>
                       <ng-container *ngIf="reviewers?.proposalPreReviewComments.length>0">
                         <div class="row" *ngFor="let comments of reviewers.proposalPreReviewComments; let i=index" >
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                             <span title="{{(comments?.reviewComment?.length>80)?(comments?.reviewComment):''}}">
                                 {{i+ 1}}. {{(comments?.reviewComment?.length
                                 > 80)?(comments?.reviewComment |
                                 slice:0:80)+'...':(comments?.reviewComment)}}</span>
                           </div>
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                             <span *ngIf="comments?.proposalPreReviewAttachments?.length == 0"
                             class="noDataExists">No attachments</span>
                             <select class="committeeBoxNotEditable" style="padding-left: 0px;margin-left: -6px;" *ngIf="comments?.proposalPreReviewAttachments?.length > 0" [(ngModel)]="selectedReviewAttachment[reviewIndex][i]">
                               <option *ngFor="let attachment of comments?.proposalPreReviewAttachments;let attachIndex = index" (value)="attachment">{{attachment.fileName}}</option>
                             </select>
                           </div>
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                             <ul class="actionButtonGroup" *ngIf="comments?.proposalPreReviewAttachments?.length > 0">
                               <li><a (click)="downloadReviewAttachment($event, selectedReviewAttachment[reviewIndex][i], comments?.proposalPreReviewAttachments)"><i
                                     title="download this document" class="fa fa-download" aria-hidden="true"></i></a></li>
                             </ul>
                           </div>
                         </div>
                       </ng-container>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="modal-footer" *ngIf="result?.proposal?.proposalPreReviews?.length >0">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
         <div class="rate-float pre-review-button">
           <button type="button" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="closePreReviewModal()">Close</button>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<!--Complete Pre-Review Modal-->
<div class="modal fade mySkinDialog" id="completePreReviewModal" tabindex="-1" data-backdrop="static" data-keyboard="false"
role="dialog" aria-labelledby="skippedSchedulesTitle" aria-hidden="true">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title">Complete Pre-Review of <span>Proposal
           #{{result?.proposal?.proposalId}} - {{result?.proposal?.title}}</span></h5>
       <button type="button" class="close" data-dismiss="modal" (click)="clearPreReviewDatas();isShowPreReviewModalOptions = false;">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
         <div class="row">
           <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
             <label>Review Type</label> <span>{{result?.proposal?.reviewerReview?.preReviewType?.description}}</span>
           </div>
           <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
             <label>Reviewer</label> <span>{{result?.proposal?.reviewerReview?.reviewerFullName}}</span>
           </div>
           <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
             <label>Request Date</label> <span>{{result?.proposal?.reviewerReview?.requestDate | date:'MM/dd/yyyy'}}</span>
           </div>
           <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
             <label>Completion Date</label> <span>{{result?.proposal?.reviewerReview?.completionDate | date:'MM/dd/yyyy'}}</span>
           </div>
           <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
             <label>Status</label> <span>{{result?.proposal?.reviewerReview?.preReviewStatus?.description}}</span>
           </div>
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
             <label>Requester Comments</label><span title="{{(result?.proposal?.reviewerReview?.requestorComment?.length>120)?(result?.proposal?.reviewerReview?.requestorComment):''}}">
               {{(result?.proposal?.reviewerReview?.requestorComment?.length
               > 120)?(result?.proposal?.reviewerReview?.requestorComment |
               slice:0:120)+'...':(result?.proposal?.reviewerReview?.requestorComment)}}</span>
           </div>
         </div>
       </div>
       <table class="table table-responsive tableSkin" style="margin-bottom: 0px">
         <label class="mySkinDialog ">
           <p class="m-0">
             <b><span class="mandatory">*</span>Comments:</b>
           </p>
         </label>
         <textarea placeholder="" class="col-12 col-lg-12 commentBox" rows="2" cols="20" maxlength="254" [(ngModel)]="addPreReviewerObj.reviewComment"></textarea>
       </table>
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="add-review">
         <div class="row">
           <button title="Add Documents" class="addBtn font attachBtn"
           style="top:0; left:0px" (click)="uploadedFile = [];isShowPreReviewModalOptions = !isShowPreReviewModalOptions;">
             <i [ngClass]="isShowPreReviewModalOptions?'fa fa-minus':'fa fa-plus'"></i>&nbsp;<span>Add Documents</span>
           </button>
         </div>
       </div>
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isShowPreReviewModalOptions">
          <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
         <div class="fileChips regularFont">
           <span *ngFor="let item of uploadedFile; let i=index">{{item.name}} <i class="fa fa-close hand-cursor" title="Remove File" (click)="deleteFromUploadedFileList(item)"></i>
           </span>
         </div>
         <div *ngIf="warningMsgObj.attachmentWarningMsg != null"><span class="mandatory font">{{warningMsgObj.attachmentWarningMsg}}</span></div>
       </div>
       <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <span class="mandatory" *ngIf="!isReviewMandatoryFilled">* Please add a comment</span>
           <button type="button" style="margin-top: 5px;" class="btnSkin btnSkinPrimary rate-float" (click)="addPreReview()">Add</button>
         </div>
       </div>
       <div class="row" [ngClass]="isShowPreReviewModalOptions?'height-scroll-sm':'height-scroll-md'">
         <div class="gridSkin col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="result?.proposal?.reviewerReview?.proposalPreReviewComments?.length>0">
           <div class="row">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
               <label>Reviewer Comments</label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
               <label>Attachments</label>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
               <label>Action</label>
             </div>
           </div>
           <div class="row" *ngFor="let comments of result?.proposal?.reviewerReview?.proposalPreReviewComments; let i=index">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
               <span title="{{(comments?.reviewComment?.length>80)?(comments?.reviewComment):''}}">
                   {{i+ 1}}. {{(comments?.reviewComment?.length
                   > 80)?(comments?.reviewComment |
                   slice:0:80)+'...':(comments?.reviewComment)}}</span>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
               <span *ngIf="comments?.proposalPreReviewAttachments?.length == 0"
               class="noDataExists">No attachments</span>
               <select class="committeeBoxNotEditable" style="padding-left: 0px;margin-left: -6px;" *ngIf="comments?.proposalPreReviewAttachments?.length > 0" [(ngModel)]="selectedReviewAttachment[i]">
                 <option *ngFor="let attachment of comments?.proposalPreReviewAttachments;let attachIndex = index" (value)="attachment">{{attachment.fileName}}</option>
               </select>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
               <ul class="actionButtonGroup" *ngIf="comments?.proposalPreReviewAttachments?.length > 0">
                 <li><a (click)="downloadReviewAttachment($event, selectedReviewAttachment[i], comments.proposalPreReviewAttachments)"><i
                       title="download this document" class="fa fa-download" aria-hidden="true"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btnSkin btnSkinPrimary" data-dismiss="modal" (click)="clearPreReviewDatas();isShowPreReviewModalOptions = false;">Close</button>
       <button type="button" class="btnSkin btnSkinPrimary" [disabled]="result?.proposal?.reviewerReview?.proposalPreReviewComments?.length<=0" (click)="approveDisapprovePreReview('DISAPPROVE')">Disapprove</button>
       <button type="button" class="btnSkin btnSkinPrimary" [disabled]="result?.proposal?.reviewerReview?.proposalPreReviewComments?.length<=0" (click)="approveDisapprovePreReview('APPROVE')">Approve</button>
     </div>
   </div>
 </div>
</div>
<!-- APPROVE-DISAPPROVE MODAL -->
<div class="modal fade mySkinDialog" id="approveDisapproveModal" tabindex="-1" role="dialog" aria-labelledby="skippedSchedulesTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" *ngIf="isAttachmentIncomplete == false">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skippedSchedulesLongTitle">
          {{modalAproveHeading}} <span>Proposal
            #{{result?.proposal?.proposalId}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showAddAttachment = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showApproveDisapproveModal.isReadyToApprove">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
              <label>Proposal #</label> <span>{{result?.proposal?.proposalId}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <label>Status</label> <span>{{result?.proposal?.proposalStatus?.description}}</span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <label>PI</label> <span>{{result?.proposal?.principalInvestigator}}</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
              <label>Lead Unit</label> <span>{{result?.proposal?.homeUnitName}}</span>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <label>Title</label> <span>{{result?.proposal?.title}}</span>
            </div>
          </div>
        </div>
        <table class="table table-responsive tableSkin">
          <label class="mySkinDialog ">
            <p class="m-0">
              <b>Comments:</b>
            </p>
          </label>
          <textarea id="approve-comments" placeholder="" class="col-12 col-lg-12 commentBox" rows="2" cols="20"
            maxlength="254" [(ngModel)]="approveComments"></textarea>
        </table>
        <label class="mySkinDialog">
          <p class="m-0">
            <b>Add files:</b>
          </p>
        </label>
        <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="fileChips regularFont">
              <span *ngFor="let item of uploadedFile; let i=index">{{
                item?.name }} <i id="approve-delete" class="fa fa-close hand-cursor" title="Remove File" (click)="deleteFromUploadedFileList(index)"></i>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="warningMsgObj.attachmentWarningMsg != null"><span class="mandatory font">{{warningMsgObj.attachmentWarningMsg}}</span></div>
      </div>
      <div class="modal-body" *ngIf="!showApproveDisapproveModal.isReadyToApprove">
        <p>Cannot approve proposal. Pre-Reviews are not completed yet.</p>
      </div>
      <div class="modal-footer" *ngIf="showApproveDisapproveModal.isReadyToApprove">
        <button type="button" id="approve-close" class="btnSkin btn-secondary" data-dismiss="modal" (click)="closeAttachments()">Close</button>
        <button type="button" id="approve-disapprove-btn" class="btnSkin btnSkinPrimary" (click)="approveDisapproveProposal()">{{modalAproveHeading}}</button>
      </div>
      <div class="modal-footer" *ngIf="!showApproveDisapproveModal.isReadyToApprove">
        <button type="button" id="approve-close-btn" class="btnSkin btn-secondary" data-dismiss="modal" (click)="!showApproveDisapproveModal.showModal">Close</button>
      </div>
    </div>
  </div>
  <div class="modal-dialog modal modal-dialog-centered" role="document" *ngIf="isAttachmentIncomplete">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skippedSchedulesLongTitle">
          <span>Warning!</span>
        </h5>
        <button type="button" id="approve-incomplete-doc-close" class="close" data-dismiss="modal" aria-label="Close"
          (click)="showAddAttachment = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The proposal has incomplete document(s). Please notify PI to complete them.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="approve-incomplete-close-btn" class="btnSkin btn-secondary" data-dismiss="modal"
          (click)="closeAttachments()">Close</button>
        <button type="button" id="approve-notify" class="btnSkin btnSkinPrimary" data-dismiss="modal" data-toggle="modal"
          data-target="saveProposal" (click)="notifyAttachmentIncomplete()">Notify</button>
      </div>
    </div>
  </div>
</div>
